* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro" "PT Sans", sans-serif;
  }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('stars.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
 
}


@font-face{
  src: url(Silkscreen-Regular.ttf);
  font-family:Silkscreen;
}
@font-face{
  src: url(SourceCodePro-VariableFont_wght.ttf);
  font-family:Source Code Pro;
}
  html {
    scroll-behavior: smooth;
  }

  .container {
    padding: 0 100px 0 100px;
  }

  nav ul,
  .main-info-section,
  .work-category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  }

  body {
    margin: 0;
  padding: 0;
    
    line-height: 1.6;
    background-color: var(--background-color);
  }

  header{
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #181818;
    color: #fff;
    position: sticky; 
    top: 0;
    z-index: 1000;
  }
 @media (max-width: 1024px) {
    .container {
      padding: 20px;
      font-size: 1rem;
    }
  
    .about-me {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
  
  /* Mobil cihazlar için */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .about-me {
      font-size: 0.8rem;
      line-height: 1.4;
    }
  
    .text a {
      padding: 10px 20px;
      font-size: 0.7rem;
      border-radius: 20px;
    }
       .text {
      text-align: center; /* Mobilde ortala */
      margin: 20px auto; /* Yatayda ve dikeyde ortala */
    }
       .profile-image {
       text-align: center; /* Mobilde ortala */
      margin: 20px auto; /* Yatayda ve dikeyde ortala */
    }
  }
  
  /* Küçük ekranlı mobil cihazlar için */
  @media (max-width: 480px) {
    .container {
      padding: 5px;
    }
  
    h1 {
      font-size: 1.2rem;
    }
  
    .text a {
      padding: 8px 16px;
      font-size: 0.6rem;
    }
  }
.Logo{
  
  flex-shrink: 0; 
  width: 150px; 
  height: auto;  
  margin-left: -140px;
  display: flex;
}
.Logo:hover{
  filter: drop-shadow(0 0 0.75rem#9998da);
  transition: filter 0.3s ease;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
nav ul {
  display: flex;
  list-style: none;
  
}
nav ul li {
  margin-left: 30px;
  margin-top: -25px;
}
nav ul li a {
  color: #9998da;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
  font-family: Silkscreen,sans-serif;
  
    text-shadow: 0 0 2px #9998da;
  display: inline;
  
}

nav ul li a:hover {
  
  -webkit-animation: flicker .1s .1s infinite;
  animation: flicker .1s .1s infinite;
  font-weight: 900;
  text-shadow: 0 0 15px #9998da;
}
#baslik {
  font-family: sans-serif;
  margin-left: -550px;
}



  .navbar {
    background-color: #181818;
  }

 
   li {
    list-style: none;
    margin-left: 30px;
   }

   a {
    text-decoration: none;
    font-size: 9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
   }

   .main-info-section {
   height: calc(100vh - 81.6px);
    font-family: Silkscreen;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
   }

   .text {
    margin-top: 120px;
      
   
    padding: 20px;
    
    max-width: 80%; 
   }

   .text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
    transition: text-shadow 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
   }
   .text h1:hover {
    text-shadow: 0 0 20px rgb(255, 255, 255);
     }


   .text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
    color: #696969;
   }
   .text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #be9c21;
    color: #be9c21;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
    border-radius: 25px;
   }
   .text a:hover{
    color: #fff;
   }
   .text a::before {
    content: '';
    background-color: #be9c21;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
    border-radius: 25px; 
   }
   .text a:hover::before {
    height: 100%;
  
   }
   .profile-image {
    position: relative;
    width: 450px;
    height: 250px;
     height: auto; 
     margin-right: 115px; 
     margin-top: 50px;
    display: flex;
     justify-content: center;
     align-items: center;
    }  

   .profile-image img {
    width: 250px;
    margin-top: 50px;
     width: 100%; /* Resmin genişliğini tam olarak kaplamasını sağla */
     height: 100%;
     object-fit: cover;
     border-radius: 10px; /* Köşeleri yumuşatmak için */
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Gölge efekti */
     max-width: 100%; /* Fotoğrafı taşmayacak şekilde sınırla */
  height: auto; /* Yükseklik oranını koru */
  display: block; /* Satır tabanlı hizalamayı sağla */
  margin: 0 auto; /* Ortala */
   }
   .profile-image img:hover{
    filter: drop-shadow(0 0 0.75rem #46c016);
    transition: filter 0.3s ease;
  }


.secret-text {
  display: none; /* Başlangıçta gizle */
  font-size: 1.5rem; /* İstediğiniz font boyutunu belirleyin */
  color: #fff; /* Metnin rengini ayarlayın */
  font-size: xx-small;
  transition: opacity 0.3s ease; /* Opaklık geçişi ile animasyon */
  float:left;
  
}

.text h1:hover .secret-text {
  display: inline; /* "Junior Coder" başlığına hover yapıldığında metni göster */
  opacity: 1; /* Opaklık değişimi ile görünüme kavuşturulacak */
}




   .about {
     padding: 50px 20px;
    text-align: center;
   }

   .about h1,
   .work h1 {
    font-family: sans-serif;
    font-size: 10rem;
    z-index: 0;
   
    opacity: 1;
    color: #8382ba;
   }
   .skills h1 {
    z-index: 0;
    font-family: sans-serif;
    font-size: 10rem;
    text-align: right;
    opacity: 1;
    color: #8382ba;
   }

   .about-me-info {
    max-height: 500px;
    max-width: 900px;
   background-color: rgba(0, 0, 0, 0.8); 
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow-y: auto;
    border-radius: 8px; /* Köşeleri yuvarlat */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge ekle */
   }

   .about-me-info p {
    font-size: 1rem;
    font-family: "Source Code Pro",courier;
    display: block;
    color: #bebebe;
  
   }
   .about-me-info h1 {
    color: #be9c21;
    font-size: 1rem;
    font-family: "Source Code Pro",courier;
   }
   .about-me-info P:nth-child(2),
   .about-me-info p:last-child {
    margin-top: 30px;
   }


   .skills {
    height: 100vh;
  
   }

   
   .contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: 1;
    font-family: sans-serif;
    margin-bottom: 40px;
    color: #8382ba;
   }


   .html, .css, .js, .c, .csharp, .sql {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
   }
   div[class^='tag-'] {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%,0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785a7;
    margin-right: 30px;
   }
   div[class^='tag-'] p {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
   }
   .progressbar {
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48cfad;
    border-radius: 20px;
    margin-top: 7px;
    
   }
   
   div[class^='bar-'] {
    position: absolute;
    background-color: #48cfad;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;;
   }

   .bar-html,
   .bar-css,
   .bar-js,
   .bar-c,
   .bar-csharp,
   .bar-sql {
       width: calc(0 - 6px);
   }
   .work-category button {
    text-transform: capitalize;
    border: 3px solid #9998da;
    padding: 15px 30px;
    border-radius: 50px;
    color: #9998da;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
   }

   div[class^='category-'] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    grid-gap: 20px;

   }
  .work p {
    color: #ddd;
    width: 1.3rem;
  }
   .work a {
    justify-self: center;
    position: relative;
    display: inline-block;

   }
   .work-category .active {
     background-color: #9998da;
   }
   button.active {
       color: #fff;
   }
   .work a img {
    width: 350px;
    justify-self: center;
   }

   div.hideCategory {
    display: none;
   }

   .showCategory {
    display: block;
   }

   #contact {
      display: flex;
      flex-direction: column; /* Mobilde elemanları dikey hizala */
      align-items: center; /* Elemanları ortala */
      padding: 20px; /* Yeterli boşluk bırak */
      box-sizing: border-box; /* Taşmaları engelle */
    }
   form input,
   form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
   width: 100%; /* Mobilde genişlik tam olsun */
  max-width: 400px; /* Çok geniş olmasını engelle */
  margin-bottom: 10px;
   
   background-color: rgba(0, 0, 0, 0.8); 
   
    
    border-radius: 8px; /* Köşeleri yuvarlat */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge ekle */
   }

   form input:last-child {
    width: 150px;
    background-color: #9998da;
    border-radius: 20px;
    border-color: rgb(192, 181, 181);
    cursor: pointer;
    color: black;
    padding: 10px 18px;
    font-family: "Source Code Pro";
   }
   form input:last-child:hover{
    opacity: 80%;
   }
   form input:focus-within{
    outline: none;
    border-color: #9998da;
    border-width: 3px;
   }
   form textarea:focus-within{
    outline: none;
    border-color: #9998da;
    border-width: 3px;
   }

   footer hr {
    margin-top: 80px;
   }
   footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
    font-family: 'Courier', monospace;
   }
   hr			{
    background-color: #ddd;
    border: 0;
    height: 1px;
    min-width: 540px;
    }
    /* 360 derece dönme animasyonu */
    @keyframes rotate360 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      /* Hover animasyonu */
      .rotate-on-hover:hover {
        animation: rotate360 2.5s ease-in-out;
      }

      /*nav text*/
      @-webkit-keyframes flicker {
        0% {
            opacity: 1
        }
      
        40% {
            opacity: .8
        }
      
        80% {
            opacity: .6
        }
      
        to {
            opacity: 1
        }
      }
      
      @keyframes flicker {
        0% {
            opacity: 1
        }
      
        40% {
            opacity: .8
        }
      
        80% {
            opacity: .6
        }
      
        to {
            opacity: 1
        }
      }
.alert-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
    animation: popup 0.4s;
    z-index: 1002;
  }
  
  @keyframes popup {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0%);
    }
  }
  
  .alert {
    display: grid;
    justify-content: center;
    padding: 18px;
    width: 100vw;
    max-width: 600px;
    background-color: #181818;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: none;
    border: 3px ridge rgb(170, 170, 170);
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
    font-size: .7rem;
    font-family: 'MS Sans Serif', 'Menlo', sans-serif;
  }

  .alert .close-btn1,.close-btn2 {
    
    align-items: center;
    justify-content: space-between;
    font-size: .6rem;
    font-family: 'MS Sans Serif', 'Menlo', sans-serif;
  
    background-color: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgb(230, 230, 230) 100%);  
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 3px black;
    padding: 5px;
    
    margin: auto;
    margin-top: .5rem;
    width: 20%;
    
  }
  .close-btn2{
    margin-left: -100px;
    gap: 900px;
  }
  .butonlar{
    display: flex;
    
   

    margin-top: 1rem; /* Buton grubunu üstten ayırır */
    
 
   
     
  }
  .alert .close-btn:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.80);
  }
  
  .alert .close-btn:active {
    background-color: rgb(255, 255, 255);
    background-color: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgb(230, 230, 230) 100%);  
    box-shadow: 0px 0px 3px black;
  }


  .windows98-popup {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px outset gray;
    box-shadow: 2px 2px 5px black;
    background-color: #c0c0c0;
    font-family: 'MS Sans Serif', 'Menlo', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    
}

.windows98-header {
    background-color: #000080;
    color: white;
    padding: 4px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.windows98-header .close-btn {
    color: white;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.windows98-body {
    padding: 10px;
    text-align: center;
}

.windows98-body img {
    width: 100%;
    height: auto;
    
}

    /* Genel mobil cihazlar için */
@media (max-width: 768px) {
  body {
    font-size: 16px; /* Yazılar mobilde okunabilir olsun */
    padding: 0; /* Gereksiz dış boşlukları kaldır */
  }

  .header, .main-section, .contact-section {
    padding: 10px; /* Tüm bölümlerde boşlukları mobil uyumlu yap */
  }

  .main-section img {
    width: 100%; /* Görseller ekran genişliğine göre ayarlansın */
    height: auto;
  }
}
@media (max-width: 1080px) and (min-height: 2340px) {
  .contact-section {
    padding: 15px; /* Samsung A34 için daha küçük padding */
  }

  .main-photo {
    max-width: 90%; /* Görseli daralt */
  }
}

